html {
    padding-left: 10%;
    padding-right: 10%;
}


#main-menu {
    font-size: medium;
    padding-left: 10%;
    padding-right: 10%;
}

main {
    padding-left: 70px;
    padding-right: 70px;
}

h1 {
    font-family: 'Bad Script', cursive;
    font-size: medium;
}


#about-box {
    background-color: #fef9ef;
    size: 75px;
}

#main-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#main-menu li a {
    color: black;
    text-align: center;
    padding: 14px 16px;
}

/* Change the link color to #111 (black) on hover */
#main-menu li a:hover {
    background-color: rgb(180, 180, 180);
}

#socials ul{
    text-align: center;
    list-style-type: none;
}


.fa {
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

section {
    margin-bottom: 20px;
    text-align: justify;
}

.collapse {
    background-color: white;
    opacity: 0.7;
    color: black;
}

.carousel-caption{
    opacity: 0.8;
    color: black;
}
